<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="initial-scale=1.0, max-scale=1.0, user-scalable=0, width=device-width;">
    <style>
        body,html {
            margin: 0;
            padding: 0;
        }
        #container {
            padding: 0 10%;
        }
        .card {
            border: 1px solid #e9e9e9;
            border-radius: 4px;
            margin: 10px 0;
        }
        .pic {
            width: 100%;
            height: 200px;
        }
        img {
            width: 100%;
            height: 100%;
            border: 0px;
            outline: none;
        }
        .apply {
            float: right;
            color: #2db7f5;
            font-weight: normal;
        }
        .apply[disabled] {
            color: #DDD;
        }
        .title {
            color: #6a6a6a;
            font-size: 13px;
            padding: 20px 20px 10px 20px;
            margin: 0;
            border-bottom: 1px solid #e9e9e9;
        }
        .detail {
            color: #696969;
            font-size: 12px;
            padding: 10px 20px 15px 20px;
            margin: 8px 0 0 0;
        }
        .deadline {
            margin: 0;
            font-size: 13px;
            color: #696969;
            padding: 0px 20px 15px 20px;
        }
        .starttime {
            margin: 0;
            font-size: 13px;
            color: #696969;
            padding: 0px 20px 15px 20px;
        }
        .endtime {
            margin: 0;
            font-size: 13px;
            color: #696969;
            padding: 0px 20px 15px 20px;
        }
        .num {
            margin: 10px 0px 0px;
            font-size: 12px;
        }
        .id {
            display: none;
        }
    </style>
</head>
<body>
    <div id="container">
        <% if(display1) {%>
            <% display1.forEach(function(activity) {%>
                <div class="card">
                    <div class="pic">
                        <img src="/img/<%= activity.img %>" alt="">
                    </div>
                    <div class="title">
                        <%= activity.title %>
                        <span class="apply">
                            报名
                        </span>
                        <span class="id"><%= activity.id %></span>
                    </div>
                    <p class="detail">
                        <%= activity.detail %>
                    </p>
                    <h3 class="deadline">
                        报名截止日期: <%= activity.deadline %>
                    </h3>
                    <h3 class="starttime">
                        活动开始日期: <%= activity.starttime %>
                    </h3>
                </div>
            <% }) %>
        <% } %>
        <% if(display2) {%>
            <% display2.forEach(function(activity) {%>
                <div class="card">
                    <div class="pic">
                        <img src="/img/<%= activity.img %>" alt="">
                    </div>
                    <div class="title">
                        <%= activity.title %>
                        <span class="apply" disabled="disabled">
                            报名
                        </span>
                        <span class="id"><%= activity.id %></span>
                    </div>
                    <p class="detail">
                        <%= activity.detail %>
                    </p>
                    <h3 class="deadline">
                        报名截止日期: <%= activity.deadline %>
                    </h3>
                    <h3 class="starttime">
                        活动开始日期: <%= activity.starttime %>
                    </h3>
                </div>
            <% }) %>
        <% } %>
        <% if(display0) {%>
            <% display0.forEach(function(activity) {%>
                <div class="card">
                    <div class="pic">
                        <img src="/img/<%= activity.img %>" alt="">
                    </div>
                    <div class="title">
                        <%= activity.title %>
                        <span class="id"><%= activity.id %></span>
                    </div>
                    <p class="detail">
                        <%= activity.detail %>
                    </p>
                    <h3 class="deadline">
                        报名截止日期: <%= activity.deadline %>
                    </h3>
                    <h3 class="starttime">
                        活动开始日期: <%= activity.starttime %>
                    </h3>
                </div>
            <% }) %>
        <% } %>
    </div>
</body>
<script>
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/weixin/wxcode?wxcode=' + location.search, true);
    xhr.send(null);
    xhr.onreadystatechange = function() {
        if(xhr.readyState === 4) {
            if((xhr.status >= 200 && xhr.status <= 300) || xhr.status === 304) {
                if(xhr.responseText === '0') {
                    alert("微信认证失败");
                }
            }
        }
    }
    var container = document.getElementById("container");
    container.addEventListener("touchstart", function(event) {
        if(event.target.className === "apply") {
            if(!event.target.getAttribute('disabled')) {
                var node = event.target.parentNode.parentNode;
                var deadline = node.getElementsByClassName("deadline")[0].textContent;
                if(+new Date() > +new Date(deadline)) {
                    alert("已超过报名截止时间,报名失败")
                    return;
                }
                var actid = node.getElementsByClassName("id")[0].textContent;
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/weixin/actenroll', true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("actid=" + actid);
                xhr.onreadystatechange = function() {
                    if(xhr.readyState === 4) {
                        if((xhr.status >= 200 && xhr.status <= 300) || xhr.status === 304) {
                            if(xhr.responseText == '1') {
                                alert("报名成功")
                            } else if(xhr.responseText == '2') {
                                alert("您已报名其他活动, 不能再进行申请");
                            } else if(xhr.responseText == '5') {
                                alert("账号未通过认证,报名失败");
                            } else if(xhr.responseText == '6') {
                                alert("您已报名过该活动")
                            } else {
                                alert("报名失败")
                            }
                        }
                    }
                }
            } else {
                alert("报名时间不符合条件,报名失败");
            }
        }
    }, false);
</script>
</html>